[flake8]
ignore =
    W503

exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    venv,
    */migrations/

per-file-ignores =
    */settings.py:E501

import-order-style = black

line_length = 79

class_attributes_order =
    field,
    meta_class,
    nested_class,
    magic_method,
    property_method,
    static_method,
    class_method,
    method,
    private_method